<?xml version="1.0"?>
<Events>
    <!-- Overpower Events -->

    <Event id="overpower-any">
        <Name>Any Overpower</Name>
    </Event>

    <Event id="overpower-device">
        <Name>Device Overpower</Name>
        <ConfigUI>
            <Field id="device-id" type="menu">
                <Label>Device:</Label>
                <List class="self" filter="self.shelly-1pm,self.shelly-2-5-relay,self.shelly-plug,self.shelly-plug-s" method="getShellyDevices"/>
            </Field>
        </ConfigUI>
    </Event>

    <!-- Input Events -->

    <Event id="input-event-s">
        <Name>Input Event - S (Short push)</Name>
        <ConfigUI>
            <Field id="device-id" type="menu">
                <Label>Device:</Label>
                <List class="self" filter="self.shelly-1,self.shelly-1pm,self.shelly-2-5-relay,self.shelly-dimmer-sl,self.shelly-i3,self.shelly-button1" method="getShellyDevices"/>
            </Field>
        </ConfigUI>
    </Event>

    <Event id="input-event-l">
        <Name>Input Event - L (Long push)</Name>
        <ConfigUI>
            <Field id="device-id" type="menu">
                <Label>Device:</Label>
                <List class="self" filter="self.shelly-1,self.shelly-1pm,self.shelly-2-5-relay,self.shelly-dimmer-sl,self.shelly-i3,self.shelly-button1" method="getShellyDevices"/>
            </Field>
        </ConfigUI>
    </Event>

    <Event id="input-event-ss">
        <Name>Input Event - SS (double short push)</Name>
        <ConfigUI>
            <Field id="device-id" type="menu">
                <Label>Device:</Label>
                <List class="self" filter="self.shelly-1,self.shelly-1pm,self.shelly-2-5-relay,self.shelly-dimmer-sl,self.shelly-i3,self.shelly-button1" method="getShellyDevices"/>
            </Field>
        </ConfigUI>
    </Event>

    <Event id="input-event-sss">
        <Name>Input Event - SSS (triple short push)</Name>
        <ConfigUI>
            <Field id="device-id" type="menu">
                <Label>Device:</Label>
                <List class="self" filter="self.shelly-1,self.shelly-1pm,self.shelly-2-5-relay,self.shelly-dimmer-sl,self.shelly-i3,self.shelly-button1" method="getShellyDevices"/>
            </Field>
        </ConfigUI>
    </Event>

    <Event id="input-event-sl">
        <Name>Input Event - SL (short push + long push)</Name>
        <ConfigUI>
            <Field id="device-id" type="menu">
                <Label>Device:</Label>
                <List class="self" filter="self.shelly-1,self.shelly-1pm,self.shelly-2-5-relay,self.shelly-dimmer-sl,self.shelly-i3" method="getShellyDevices"/>
            </Field>
        </ConfigUI>
    </Event>

    <Event id="input-event-ls">
        <Name>Input Event - LS (long push + short push)</Name>
        <ConfigUI>
            <Field id="device-id" type="menu">
                <Label>Device:</Label>
                <List class="self" filter="self.shelly-1,self.shelly-1pm,self.shelly-2-5-relay,self.shelly-dimmer-sl,self.shelly-i3" method="getShellyDevices"/>
            </Field>
        </ConfigUI>
    </Event>

    <!-- Low Battery Events -->

    <Event id="low-battery-any">
        <Name>Any Low Battery</Name>
    </Event>

    <Event id="low-battery-device">
        <Name>Device Low Battery</Name>
        <ConfigUI>
            <Field id="device-id" type="menu">
                <Label>Device:</Label>
                <List class="self" filter="self.shelly-ht,self.shelly-flood,self.shelly-door-window,self.shelly-button1" method="getShellyDevices"/>
            </Field>
        </ConfigUI>
    </Event>
</Events>